.heading-1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  @include for-medium {
    font-size: 2.7rem;
  }

  @include for-extra-large {
    font-size: 4rem;
  }
}

.heading-2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.section-heading {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;

  @include for-medium {
    font-size: 3.2rem;
  }
  @include for-large {
    font-size: 3.4rem;
  }
  @include for-extra-large {
    font-size: 3.6rem;
  }
}

.section-heading:after,
.section-heading:before {
  content: '\00a0\00a0\00a0\00a0\00a0';
  text-decoration: line-through;
  color: var(--primary-color);
}