:root {
  --primary-color: #08fdd8;
  --secondary-color: #fd2155;
  --bg-primary: #212121;
  --bg-secondary: #262626;
  --text-light: #fff;
  --dark: #222;
  --light: #fff;
  --text-grey: #bbb;
  --text-heading: #eee;
  --hover-color: var(--primary-color);
  --transit: all 0.2s linear;
  --line-height: 1.6;
  --box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
  --border-radius: 0.8rem;
  --yellow: #ffdd00;
  --success-color: #28a745;
  --danger-color: #dc3545;
}